@*
   This is the Login page for agri connet.Here the user(farmer or employee) can login to thier existing account. If the user is already logged in they will be presented with a log out button and text stating that they are logged in.
    Refrences Links:
    -https://www.w3schools.com/asp/razor_intro.asp
    -https://learn.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-9.0&tabs=visual-studio
    -https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-9.0
*@
@{
    ViewData["Title"] = "Login";
    var userRole = Context?.Session?.GetString("UserRole");
}
@model UserLoginModel

<div>
    <div class="cardContent">
        <h1>Login</h1>
        @if (!string.IsNullOrEmpty(userRole))
        {
            <br />
            <h3>You are logged in as: @Context.Session.GetString("UserFullName") </h3>
            <h3>Hello @userRole, @Context.Session.GetString("UserFullName") </h3>
            <br />
            <a asp-controller="User" asp-action="LogOut" class="btn-danger">Log Out</a>
        }
        else
        {
            <p>
                Please login into your existing account as a Farmer or employee<br />

            </p>
            <br />
            <div>
                <div>
                    <div>
                        <p>Please enter the details of your existing account.</p>
                        <form asp-controller="User" asp-action="Login" method="post">
                            <div class="form-group">
                                <label>Your Email</label>
                                <input asp-for="UserEmail" type="text" class="form-control" placeholder="Enter your email" />
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input asp-for="UserPassword" type="password" class="form-control" placeholder="Enter your Password" />
                                <span asp-validation-for="UserPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn-primary">Login</button>
                            </div>

                        </form>
                    </div>
                </div>


            </div>
        }
    </div>
</div>