@*
   This is the Login page for agri connet
*@
@{
    ViewData["Title"] = "login";
    var userRole = Context?.Session?.GetString("UserRole");
}
@model UserModel

<div class="card1">
    <div class="text-center">
        <h1 class="card-title">Login</h1>
        @if (!string.IsNullOrEmpty(userRole))
        {
            <br />
            <h3 class="card-subtitle">You are logged in as: @Context.Session.GetString("UserFullName") </h3>
            <h3 class="card-subtitle">Hello @userRole, @Context.Session.GetString("UserFullName") </h3>
            <br />
            <a asp-controller="User" asp-action="LogOut" class="btn-danger">Log Out</a>
        }
        else
        {
            <p class="home-context">
                Please login into your existing account as a Farmer or employee<br />

            </p>
            <br />
            <div class="row-home">
                <div class="col-md-6-home">
                    <div class="card2-login">
                        <p class="card-text">Please enter the details of your existing account.</p>
                        <form asp-action="UserLogin" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="signUplable">Your Email</label>
                                <input asp-for="userEmail" type="text" class="form-control" placeholder="Enter your email" />
                                <span asp-validation-for="userEmail" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="signUplable">Password</label>
                                <input asp-for="userPasswordHash" type="password" class="form-control" placeholder="Enter your Password" />
                                <span asp-validation-for="userPasswordHash" class="text-danger"></span>
                            </div>

                            <div class="button-container">
                                <div class="form-group">
                                    <button type="submit" class="btn-submitClaim-home">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

              
            </div>
        }
    </div>
</div>