@{
    ViewData["Title"] = "Home Page";
}


<div class="cardContent">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Agri Connect</h1>
            <p>Your one-stop solution for all agricultural needs.</p>
            @if (Context.Session.GetString("UserRole") == null)
            {
                <a href="@Url.Action("Login", "User")" class="homepage-btn-login">Login</a>
                <a href="@Url.Action("Register", "User")" class="homepage-btn-register">Register</a>
            }
        </div>
    </div>
</div>