/* color palette */
:root {
    --atomic-tangerine-btn: #ff934f;
    --uranian-blue-containers: #b6ddf7;
    --honeydew-bg: #f1ffe7;
    --light-green-hover: #a9fdac;
    --emerald-heading: #44cf6c;
}

/* Responsive layout */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardContent {
    flex: 1 1 90%;
    width:90%;
    background: var(--uranian-blue-containers);
    padding: 50px;
    border-radius: 12px;
    text-align:center;
    font-family: Bahnschrift,sans-serif;
    
}

@media (min-width: 768px) {
    .card {
        flex: 1 1 48%;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--honeydew-bg);
    color: #333;
    margin:0;
}

