@*
   page for farmer to add product to profile
*@
@{
}

@model ProductModel
@{
    ViewData["Title"] = "Add Products";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

    <div class="container">
        <div class="text-center">
            <h1>Add Product</h1>
            <p>
                Please add a new product
            </p>
            <p class="card-text">Please enter the following details.</p>


            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="farmer" asp-action="AddProduct" method="post">
                <div class="form-group">
                    <label>Product Name</label>
                    <input asp-for="productName" type="text" class="form-control" placeholder="Enter your product name" />
                    <span asp-validation-for="productName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Product Description</label>
                    <input asp-for="productDescription" type="text" class="form-control" placeholder="Enter your product description" />
                    <span asp-validation-for="productDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Product Category</label>
                    <select asp-for="productCategory" class="form-control" asp-items="Html.GetEnumSelectList<ProductCategory>()">
                        <option value="">Select a category</option>
                    </select>
                    <span asp-validation-for="productCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Production Date</label>
                    <input asp-for="productionDate" type="date" class="form-control" placeholder="Enter your production date" />
                    <span asp-validation-for="productionDate" class="text-danger"></span>
                </div>
                <div class="button-container">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

